/**footer**/
.footer{
    background-color: #272634;
    padding: 20px 0;
    ul{
        margin: 10px 0;
        padding: 0;
    }
    span{
        margin-top: 10px;
        display: block;
    }
}