

//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#e7604a;//Theme default color code, paste your own code here
$p-font:'Roboto', sans-serif; //default font family
$sec-font: 'Dancing Script', cursive;
$alert-color:red; //alert color

/**colors**/
.red{
    color:#f55b63;
}
.green{
    color:#bce13b;
}
.blue{
    color:#42a3ee;
}
.yellow{
    color:#e6e837;
}
.gold{
    color:#e8c537;
}