

//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#1ab394;//Theme default color code, paste your own code here
$p-font:'Arimo', sans-serif; //default font family
$sec-font: 'Raleway', serif;//headings font family
$alert-color:red; //alert color

