

//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#32c5d2;//Theme default color code, paste your own code here
$p-font:'Poppins', sans-serif; //default font family
$sec-font: 'Indie Flower', cursive; //default font family
$alert-color:red; //alert color

